[Desktop Entry]
Exec=xdg-user-dirs-gtk-update
Name=User folders update
Name[ru]=Обновление папок пользователя
Comment=Update common folders names to match current locale
Comment[ru]=Обновить имена общих папок для соответствия текущему языку
Terminal=false
NotShowIn=KDE;
Type=Application
StartupNotify=false
X-KDE-autostart-after=panel
