[Desktop Entry]
Name=Power Manager
Name[ru]=Менеджер питания
Comment=Power management for the Xfce desktop
Comment[ru]=Управление питанием для окружения рабочего стола Xfce
Icon=xfce4-power-manager-settings
Exec=xfce4-power-manager
Terminal=false
Type=Application
NotShowIn=GNOME;KDE;Unity;
StartupNotify=false
