[Desktop Entry]
Type=Application
Name=Notes
Name[ru]=Заметки
Comment=Ideal for your quick notes
Comment[ru]=Средство создания текстовых заметок
TryExec=xfce4-notes
Exec=xfce4-notes
Icon=xfce4-notes-plugin
OnlyShowIn=XFCE;GNOME;
Terminal=false
Hidden=true
